mixin nav-content()
  
  ul
    li: a(href='#about') About
    li: a(href='#composition') Compositions
    li: a(href='#film') Film
    li: a(href='#contact') Contact

.mobile-nav
  +nav-content()
  
  
header
  .header-position
    h1.logo Tate Carson 
    p.subtitle Sound Organizer 
    
    nav.site-nav 
      +nav-content()
        
    a(href="mailto:tatecarson@gmail.com").email-link email me
    
    .mobile-nav-toggle: span 
