section.compositions#composition
  .flex.flex--center
    h2 Compositions 

  .flex.flex--center  
    .col-2
      h3 The Laptop as Dwelling
      p.subtext Realtime Electronics and Computer Sounds, 2016
      p In this piece I sonify the innards of the laptop with a coil microphone.  I wanted to examine an idea, borrowed from G. Bach, that a laptop can be a space we inhabit. As he says: “For Musician and audience alike, the laptop is interior space because we believe it to be so.” A side interest in the piece was to travel on a spectrum from noise to melody, tuning the laptop noise to different notes as I go along.  
      p <iframe width="100%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/248210199&amp;color=95bcda&amp;inverse=true&amp;auto_play=false&amp;show_user=false"></iframe>
    
    .col-2
      h3 Shifting Migration 
      p.subtext Fixed Media, 2016
      p Shifting Migration was recording with a set of binaural in-ear microphones while biking to and from Mills College for a week. At the end of the piece you’ll also hear waves recorded in La Jolla, California. I wanted to see if I could make a piece of soundscape music out of the sounds I encounter on my commute. During the extended listening to my environment I started to realize how close the sounds of cars driving to into the distance sounded like waves. I juxtapose these sounds at the end of the piece, as if the end of the journey isn’t Mills but a placid beach. With this juxtaposition I aim to reveal how much noise pollution we endure daily and what our soundscape should be. 
      p <iframe width="100%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/265026670&amp;color=95bcda&amp;inverse=true&amp;auto_play=false&amp;show_user=false"></iframe>
        
    .col-2
      h3 Lamella 
      p.subtext Realtime Electronics and Music Box, 2016
      p Lamella can either refer to a thin membrane in bone tissue or the metal tongues that sound in the music box. A contact mic is used to pickup the intricate, machine-like sounds coming from the box, in addition to the it’s melody. My interest is the intersection between these noise and harmonic sounds. The melody is treated plainly at the beginning and ending of the piece. Granular synthesis is used to decontextualize the melodic sounds into drones and shorter re-pitched sounds. 
      p <iframe width="100%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/265024743&amp;color=95bcda&amp;inverse=true&amp;auto_play=false&amp;show_user=false"></iframe>
  
  .flex.flex--center  
    .col-2
      h3 Four Petals
      p.subtext Chamber Ensemble and Electronics, 2016
      p Four Petals is based off of an electronic composition that I wrote in 2014 of the same name. The process of translating everything that can be done with electronics into an electro-acoustic real-time form is a transformative one. New electronics were developed to be played along with the chamber ensemble. 
      p <iframe width="100%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/265024330&amp;color=95bcda&amp;inverse=true&amp;auto_play=false&amp;show_user=false"></iframe>

    .col-2
      h3 A Quiet Desert Future
      p.subtext Fixed Media, 2016
      p This piece is a result of the restrictions of recording directly to tape. Each sound heard was improvised without listening to the others and assembled afterwards in one take on a mixing board. I aimed to create interesting shifts in density and timbre, also to maintain the improvisational nature of the performances by keeping that same spirit in the mix down process.  
      p <iframe width="100%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/265024328&amp;color=95bcda&amp;inverse=true&amp;auto_play=false&amp;show_user=false"></iframe>

    .col-2
      h3 Synecdoche
      p.subtext Fixed Media, 2015
      p In Synecdoche, there are eight basic sound events, five synthesized pitches, and three percussion samples. Two tempos increase at different rates, creating the form. As the tempo increases, out of the range where we perceive rhythm, each note is heard less as a distinct event and as more of a single sound with a shifting timbre. Synecdoche explores the limits of human rhythmic perception. 
      p The piece uses self-similarity as found in nature—an object constructed entirely by repeated application of a single procedure. Self-similarity is reflected through the use of tempo changes. The listener may hear the faster tempo as a different event, but directly relates to the tempo in beginning of the piece. 
      p <iframe width="100%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/235646070&amp;color=95bcda&amp;inverse=true&amp;auto_play=false&amp;show_user=false"></iframe>

  .flex
    .col-2
      h3 S̜w͚a̎r̍m̸
      p.subtext Realtime Electronics and Pipa, 2015
      p S̜w͚a̎r̍m̸ is an live-sampling instrument. It was originally built for the singular purpose of capturing live instrument input and playing it back as a drone. Here, that idea is extended to include other sound possibilities.
      p <iframe width="100%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/236603208&amp;color=95bcda&amp;inverse=true&amp;auto_play=false&amp;show_user=false"></iframe>
      
    .col-2
      h3 Recursion
      p.subtext Improvising Ensemble, 2015
      p Recursion is the process of repeating something in a self-similar way. That is, repeating a thing in a way that’s exactly or approximately similar to a part of itself.  The whole has the same shape as one or more of the parts. In this case of this piece, the “thing” is an amount of musical time. Recursion is presented to the musicians using a graphic score. It shows a seven note melody plotted onto a series of circles, one large one, two half the size of the first inside the large one, and down smaller and smaller. 
      p The musicians are to take this image and interpret it by playing the notes a many different speeds which are all related to each other in a self-similar way. It is meant only to be a starting point for an improvisation and not a formal structure for the entire piece.  
      p <iframe width="100%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/235136773&amp;color=95bcda&amp;inverse=true&amp;auto_play=false&amp;show_user=false"></iframe>

    .col-2
      h3 Microstasis
      p.subtext Fixed Media, 2015
      p Microstasis is generated entirely from one sample—an 18-second recording from Anthony Braxton’s record 529.315. It was chosen because of its unique timbre and folk-like melody. Though the sound material all comes from one source, its origin is meant to be ambiguous.
      p Granular synthesis is used to reorganize the sample to render it unrecognizable. The purpose of using only one sound source is to aid coherence in composition. The sample is reconstructed into phrases of drones and micro sound, two sometimes disparate sounds that attempt to coexist.
      p <iframe width="100%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/244497969%3Fsecret_token%3Ds-Q6nDn&amp;color=95bcda&amp;inverse=true&amp;auto_play=false&amp;show_user=false"></iframe>  

  .flex  
    .col-2.last 
      h3 Diminishing Pt 2
      p.subtext Chamber Ensemble, 2015
      p Microstasis is generated entirely from one sample—an 18-second recording from Anthony Braxton’s record 529.315. It was chosen because of its unique timbre and folk-like melody. Though the sound material all comes from one source, its origin is meant to be ambiguous.
      p Granular synthesis is used to reorganize the sample to render it unrecognizable. The purpose of using only one sound source is to aid coherence in composition. The sample is reconstructed into phrases of drones and micro sound, two sometimes disparate sounds that attempt to coexist.
      p <iframe width="100%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/234246723&amp;color=95bcda&amp;inverse=true&amp;auto_play=false&amp;show_user=false"></iframe>
    
